
<app-home-carousel></app-home-carousel>

<!-- Featured Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
              <h1 style="font-size: 2.5rem;" class="fa fa-check text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
              <h1 style="font-size: 2.5rem;" class="fa fa-truck text-primary m-0 mr-2"></h1>
              <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
              <h1 style="font-size: 2.5rem;" class="fa fa-exchange text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
              <h1 style="font-size: 2.5rem;" class="fa fa-phone text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
          </div>
      </div>
  </div>
</div>
<!-- Featured End -->

<app-featured-products></app-featured-products>

<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
  <div class="row px-xl-5">
      <div class="col-md-6">
          <div class="product-offer mb-30" style="height: 300px;">
              <img class="img-fluid" loading="lazy" src="assets/img/offer-1.jpg" alt="">
              <div class="offer-text">
                  <h6 class="text-white text-uppercase">Save 20%</h6>
                  <h3 class="text-white mb-3">Special Offer</h3>
                  <a routerLink="/shop" class="btn btn-primary">Shop Now</a>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="product-offer mb-30" style="height: 300px;">
              <img class="img-fluid" loading="lazy" src="assets/img/offer-2.jpg" alt="">
              <div class="offer-text">
                  <h6 class="text-white text-uppercase">Save 20%</h6>
                  <h3 class="text-white mb-3">Special Offer</h3>
                  <a routerLink="/shop" class="btn btn-primary">Shop Now</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Offer End -->

<app-carousel-page></app-carousel-page>

<footer></footer>
