<div class="container-fluid pb-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30">
      <div id="product-carousel" class="carousel slide">
        <div class="carousel-inner bg-light">
          <div class="carousel-item active">
            <img src="{{this.product.imageUrl}}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30">

        <h3>{{product.name | titlecase}}</h3>

        <div class="d-flex mb-3">
          <div class="text-primary mr-2">
            <!-- I'll Put Ng Star here -->
          </div>
        </div>

          <h3 class="font-weight-semi-bold mb-4">
            {{product.price | currency}}
          </h3>
          <p class="mb-4">
            Volup erat ipsum diam elitr rebum et dolor.
            Est nonumy elitr erat diam stet sit
            clita ea. Sanc ipsum et, labore clita lorem
            magna duo dolor no sea
            Nonumy
          </p>

          <div class="d-flex mb-3">
            <strong class="text-dark mr-3">
              Sizes:
            </strong>
            <form [formGroup]="addToCart">
              <ng-container *ngFor="let size of product.size">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio"
                  class="custom-control-input"
                  [id]="size"
                  [value]="size"
                  formControlName="size">
                  <label class="custom-control-label"
                   [for]="size">
                    {{size}}
                  </label>
                </div>
              </ng-container>
            </form>
          </div>

          <div class="d-flex mb-4">
            <strong class="text-dark mr-3">
              Colors:
            </strong>
            <form [formGroup]="addToCart">
              <ng-container *ngFor="let color of product.colors">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio"
                  class="custom-control-input"
                  [id]="color"
                  [value]="color"
                  formControlName="color">
                  <label class="custom-control-label"
                   [for]="color">
                    {{color}}
                  </label>
                </div>
              </ng-container>
            </form>
          </div>

          <div class="d-flex align-items-center mb-4 pt-2">
            <div class="input-group quantity mr-3"
            style="width: 2000px;">
              <button class="btn btn-primary px-3"
              (click)="addToCartFromDetailsPage(product)">
                <i class="fa fa-shopping-cart mr-1"></i>
                 Add To Cart
              </button>
            </div>
          </div>

      </div>
    </div>

    <div class="row px-xl-5">
      <div class="col">
          <div class="bg-light p-30">
            <div class="nav nav-tabs mb-4">
              <a class="nav-item nav-link text-dark active"
              data-toggle="tab" href="#tab-pane-1">
                Description
              </a>
              <a class="nav-item nav-link text-dark"
              data-toggle="tab" href="#tab-pane-2">
                Information
              </a>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-pane-1">
                <h4 class="mb-3">Product Description</h4>
                <p>{{product.description}}</p>
              </div>
              <div class="tab-pane fade" id="tab-pane-2">
                <h4 class="mb-3">Additional Information</h4>
                <p>{{product.information}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- You may also Like -->
<div class="container-fluid py-5">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">
      You May Also Like
    </span>
  </h2>

  <div class="row px-xl-5">
    <ng-container *ngFor="let _youMayAlsoLike of productsMayAlsoLike">
      <div class="col-md-4 pb-1" style="cursor: pointer;">
        <div class="product-item bg-light mb-4">
          <img src="{{_youMayAlsoLike.imageUrl}}"
          class="img-fluid w-100"
          routerLink="/product-details/{{_youMayAlsoLike.id}}">
          <div class="text-center py-4">
            <p class="h6 text-decoration-none text-truncate">
              {{_youMayAlsoLike.name | titlecase}}
            </p>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5>{{_youMayAlsoLike.price | currency:'NGN':'symbol-narrow'}}</h5>
              <h6 class="text-muted ml-2">
                <del>{{_youMayAlsoLike.old_price | currency:'NGN':'symbol-narrow'}}</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <!-- i will put ng star here -->
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- You may also Like -->


