<div class="container">
  <div class="details">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
      <span class="bg-secondary pr-3">
        Register
      </span>
    </h2>

    <form (ngSubmit)="submit()" [formGroup]="registerForm">
      <!-- Name Field Start -->
      <div class="mb-3">
        <label for="name" class="form-control-lg">
          Name:
        </label>

        <input type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="Enter Your Name">
      </div>
      <div class="text-danger" *ngIf="submitted">
        <small *ngIf="fc.name.errors?.required">
          Name is a required  field
        </small>
        <small
        *ngIf="fc.name.errors?.minlength">
          Name field should be more than three character long
        </small>
      </div>
      <!-- Name Field End -->

      <!-- Email Field Start -->
      <div class="mb-3">
        <label for="email"
        class="form-control-lg">
          Email
        </label>
        <input type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="example@email.com">
          <div class="text-danger" *ngIf="submitted">
            <small *ngIf="fc.email.errors?.required">
              Email is a required field
            </small>
            <small
            *ngIf="fc.email.errors?.email">
              Email is not correct
            </small>
          </div>
      </div>
      <!-- Email Field End -->

      <!-- Address Field Start -->
      <div class="mb-3">
        <label for="address"
         class="form-control-lg">
          Address
        </label>

        <input type="text"
         class="form-control"
          id="address"
          formControlName="address"
          placeholder="Enter Your Home Address...">
          <div class="text-danger" *ngIf="submitted">
            <small
            *ngIf="fc.address.errors?.required">
              Address is a required field
            </small>
            <small
            *ngIf="fc.address.errors?.minlength">
              Address is too short
            </small>
          </div>
      </div>
      <!-- Address Field End -->

      <!-- Password Field Start -->
      <div class="mb-3">
        <label for="password"
         class="form-control-lg">
          Password
        </label>
        <input type="password"
         class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter Your Password">
          <div class="text-danger" *ngIf="submitted">
            <small
            *ngIf="fc.password.errors?.required">
             Password is a required field
            </small>
            <small
            *ngIf="fc.password.errors?.minlength">
            Password field should be more than Five character long
            </small>
          </div>
      </div>
      <!-- Password Field End -->

      <!-- confirm Password field Start -->
      <div class="mb-3">
        <label for="c_password"
         class="form-control-lg">
          Confirm Password
        </label>
        <input type="password"
         class="form-control"
          id="c_password"
          formControlName="confirmPassword"
          placeholder="Enter Your Password">
          <div class="text-danger" *ngIf="submitted">
            <small
            *ngIf="fc.confirmPassword.errors?.required">
              confirm Password is a required field
            </small>
            <small
            *ngIf="fc.confirmPassword.errors?.notMatch">
            Password and Confirm-Password does not match
            </small>
          </div>
      </div>
      <!-- Confirm Password Field End -->

      <div class="mx-3">
        <input type="submit"
        class="btn btn-success"
        style="width: 100%;"
        value="Submit">
      </div>

      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/sign-in"
        [queryParams]="{returnUrl:returnURL}">
          Login Here
        </a>
      </div>
    </form>
  </div>
</div>
